{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">{% if lang == "es" %} Notificación de Actualización de Registro {% else %}  Registry Update Notification {% endif %}</h2>
        </div>
        <div class="content">
            <p style=”text-align: justify;”>
            ¡Hola! Reciba un cordial saludo.
            </p>
            <p style=”text-align: justify;”>
            La solicitud para el registro de acciones climáticas con impactos en mitigación en el<br/>
            Sistema Nacional de Métrica para el Cambio Climático (SINAMECC) con el ID {{ma_code}}., ha sido<br/>
            exitosamente actualizada de acuerdo al requerimiento de aclaración y/o modificación generado.  
            </p>
            <p>
            En el siguiente $enlace$ puede acceder al registro y verificar la información actualizada. <br/>
            </p>
            <p>
            Si tiene alguna consulta no dude en contactarnos a cambioclimatico@minae.go.cr
            </p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/signature.html"%}
        </div>
{% endblock content %}
