{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">{% if lang == "es" %} Notificación de registro {% else %}  Registration notification {% endif %}</h2>
        </div>
        <div class="content">
            <p style=”text-align: justify;”>
            ¡Hola! Reciba un cordial saludo.
            </p>
            <p style=”text-align: justify;”>
            Se ha generado una nueva solicitud de registro de acciones climáticas con impactos en<br/>
            mitigación en el Sistema Nacional de Métrica para el Cambio Climático (SINAMECC) con el<br/>
            ID {{ma_code}}.
            </p>
            <p>
            En el siguiente $enlace$ puede acceder al registro y dar inicio al proceso de revisión del <br/>
            registro de acciones climáticas.
            </p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/signature.html"%}
        </div>
{% endblock content %}
