db.sqlite3
.idea
__pycache__/
config/__pycache__/
report_data/tests/__pycache__/
report_data/migrations/__pycache__/
report_data/__pycache__/
media/*
config/media/*
env_p3/*
config/*.pyc
config/settings/*.pyc
general/*pyc
general/__pycache__/
general/migrations/*.pyc
general/migrations/__pycache__/*.pyc
mccr/migrations/*.pyc
mccr/migrations/__pycache__/*.pyc
mitigation_action/migrations/*.pyc
report_data/migrations/*.pyc
report_data/migrations/__pycache__/*.pyc
.vscode/
config/settings/local_sqlite.py
config/settings/local.py

