{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">Notificación de creación de usuario</h2>
        </div>
        <div class="content">
            <p>
            Hola. {{full_name}}
            </p>
            <p>
            Le damos la bienvenida a la plataforma de gestión de datos del Sistema Nacional de Métrica de
            <br/>
            Cambio Climático (SINAMECC) de Costa Rica :)
            <br/>
            Se ha creado un usuario en el SINAMECC asignado a este correo con las siguientes credenciales:
            <br/>
            <br/>
            Nombre de Usuario: {{username}}
            <br/>
            Correo Asociado: {{email}}
            <br/>
            <p><a href="{{url}}">Crear Nueva Contraseña</a></p>
            </p>
            <p>Con este usuario usted puede ingresar datos y gestionar procesos asociados con Programa País para la 
            <br/>
            Carbono Neutralidad/ Acciones de Mitigación/ Datos para el Inventario Nacional de Gases de Efecto 
            <br/>
            Invernadero/Administrador
            </p>
            <p>Si tiene alguna consulta no dude en escribirnos a camnbioclimatico@minae.go.cr</p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/signature.html"%}
        </div>
{% endblock content %}