{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">{% if lang == "es" %}Solicitud para restablecer contraseña {% else %} Request for Password Change {% endif %}</h2>
        </div>
        <div class="content">
            <p>
            Hola. {{full_name}}
            </p>
            <p>Reciba un cordial saludo.</p>
            <p>
            Le confirmamos que la contraseña asignada al usuario con el nombre {{username}} ha sido exitosamente
            <br/>
            actualizada. 
            <br/>
            
            <p>Si tiene alguna consulta no dude en escribirnos a camnbioclimatico@minae.go.cr</p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/signature.html"%}
        </div>
{% endblock content %}