{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">{% if lang == "es" %}Solicitud para restablecer contraseña {% else %} Request for Password Change {% endif %}</h2>
        </div>
        <div class="content">
            <p>
            Hola. {{full_name}}
            </p>
            <p>Reciba un cordial saludo.</p>
            <p>
            Recibimos una solicitud de actualizar la contraseña de la plataforma de gestión de datos del SINAMECC
            <br/>
            del usuario que tiene este correo asignado. Favor hacer click en el siguiente enlace para crear una nueva
            <br/>contraseña.
            <p><a href="{{url}}">{% if lang == "es" %} restablecer contraseña{% else %} Reset Password{% endif %}</a></p>
            </p>
            <p>Si tiene alguna consulta no dude en escribirnos a camnbioclimatico@minae.go.cr</p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/signature.html"%}
        </div>
{% endblock content %}