<div>
    <p>
        <span style="font-weight: 800;">Direcci&oacute;n de Cambio Clim&aacute;tico</span>
        <br/>
        <span style="font-weight: 800;">Ministerio de Ambiente y&nbsp; Energ&iacute;a</span>
        <br/>
        <span style="font-weight: 800;">Tel: 2253-4298/2253-4295</span>
        <br/>
        <i>
            <span style="font-weight: 400;">www.cambioclimatico.go.cr&nbsp;</span>
        </i>
    <p>
    <img src="https://sinamecc-dev.s3.us-east-2.amazonaws.com/sinamecc_signature_images/signature_sinamecc.png" width="378" height="98" tabindex="0">
</div>