{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">{% if lang == "es" %} Notificación de Registro Rechazado {% else %} Rejected Mitigation Action Notification {% endif %}</h2>
        </div>
        <div class="content">
            <p style="text-align: justify;">
            Hola {{full_name}}. Reciba un cordial saludo.
            </p>
            <p style="text-align: justify;">
            Le informamos que su solicitud para el registro de datos para reportes en el SINAMECC con<br/>
            ID {{rd_code}}, ha sido rechazada.
            </p>
            <p>
            Si requiere mayor detalle, puede consultar el estado de su solicitud en el siguiente $enlace$.<br>
            Agradecemos su interés en registrar sus acciones climáticas en el SINAMECC.
            </p>
            <p>
            Si tiene alguna consulta adicional, no dude en contactarnos a cambioclimatico@minae.go.cr
            </p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/simple_signature.html"%}
        </div>
{% endblock content %}
