{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">{% if lang == "es" %} Notificación de registro actualizado{% else %}  Registration updated notification {% endif %}</h2>
        </div>
        <div class="content">
            <p style="text-align: justify;">
            ¡Hola! Reciba un cordial saludo.
            </p>
            <p style="text-align: justify;">
                La solicitud para el registro de datos para reportes en el SINAMECC con el ID {{rd_code}}, ha <br/>
                sido exitosamente actualizada de acuerdo al requerimiento de aclaración y/o modificación <br/>
                generado.<br/>
            </p>
            <p>
            En el siguiente <A HREF={{frontend_url}}/report/view/{{id_report}}> enlace</A> puede acceder al registro y verificar la información actualizada.
            </p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/simple_signature.html"%}
        </div>
{% endblock content %}