{% extends "./../general/header.html" %}
{% block content %}
        <div class="content-title">
            <h2 class="text-title">{% if lang == "es" %} Notificación de Registro Aprobado. {% else %}  Approved Mitigation Action Notification {% endif %}</h2>
        </div>
        <div class="content">
            <p style="text-align: justify;">
            Hola {{full_name}}. Reciba un cordial saludo.
            </p>
            <p style="text-align: justify;">
            Con gran entusiasmo le informamos que su solicitud para registrar Acción de Adaptación en <br/>
            el SINAMECC, con el ID {{aa_code}} ha sido Aprobada. ¡Felicitaciones!
            </p>
            <p>
            Puede consultar el estado de su solicitud en el siguiente <a href={{frontend_url}}/adaptation/actions/{{adaptation_id}}> enlace</a>. Agradecemos el registro de <br/>
            datos en el Sistema Nacional de Métrica para el Cambio Climático (SINAMECC).
            </p>
            <p>
            Si tiene alguna consulta no dude en contactarnos a cambioclimatico@minae.go.cr
            </p>
            <p>Saludos cordiales,</p>
            {% include  "./../general/email/simple_signature.html"%}
        </div>
{% endblock content %}
